

.transactions {
    height: 100vh;
}

.app {
  margin-top: 20px;
  margin: auto;
  
}

th {
    border-bottom: 1px solid #522da8;
}

h1{
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
}
.img3{
  width: 150px;
  height: 150px;
}
.img2{
  width: 75px;
  height: 75px;
}


.color {
  background-color: rgb(82, 122, 148); 
  color: white; 
}
.back{
  background-color: white;
}